
\.vs/config/

*.XML

*.nupkg

*.xdt

*.transform

packages/

Tetris\.sln

Tetris/Properties/

Tetris/obj/

*.config

Tetris/Tetris\.csproj

Tetris/bin/

TetrisNetwork/TetrisNetwork\.csproj

TetrisNetwork/obj/

TetrisNetwork/Properties/

TetrisServer/TetrisServer\.csproj

TetrisServer/Properties/

TetrisServer/obj/
